* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #F4FAFF url(/static/img/noise.png);
    padding: 4px;
}

.header {
    padding: 4px;
    position: relative;
}

.home .header {
    width: 70%;
    margin: 0 auto;
}

.home .header h1 {
    text-align: center;
}

.btn-wrapper {
    width: 100%;
    text-align: center;
}

.btn-start {
    display: inline-block;
    padding: 20px;
    color: #FFF;
    text-decoration: none;
    background-color: #4f83be;
    border-radius: 5px;
    border: solid 1px #ABD4FF;
    margin: 10px 5%;
}

.btn-start:hover {
    background-color: #001120;
}

.header h1 {
    color: #4f83be;
}

.header h2 {
    color: #555;
}

.header p {
    color: #333;
}

.docs {
    color: #555;
    display: inline-block;
    border: solid 1px #ABD4FF;
    border-radius: 2px;
    background-color: #FFF;
    padding: 2px;
    font-size: small;
}

.docs a {
    text-decoration: underline;
    color: #333;
}

p.tip {
    color: #D46A6A;
    font-style: italic;
    font-size: small;
}

.content-wrapper {
    width: 90%;
    margin: 0 auto;
}

#tree-wrapper, #api-response-wrapper {
    display: block;
    background-color: #FFF;
    border: 1px solid #ABD4FF;
    border-radius: 4px;
    float: left;
    position: relative;
    min-height: 200px;
}

#tree-wrapper {
    font-size: small;
    padding: 2%;
    width: 25%;
}

#tree-wrapper span {
    display: block;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 15px;
    text-align: center;
}

.tree-wrapper-overlay, .api-response-overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.1);
    top: 0;
    left: 0;
}

.loading{
    position: absolute;
    width: 66px;
    height: 66px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#api-response-wrapper {
    width: 70%;
    margin-left: 0.5%;
}

#api-response-wrapper pre {
    padding: 4px;
    word-wrap: break-word;
    font-size: small;
    font-weight: 300;
    font-family: 'Ubuntu', sans-serif;
}

.clear {
    clear: both;
}

#api-url {
    position: absolute;
    right: 0;
    display: none;
    text-align: center;
    padding: 4px;
    background-color: #cce2f9;
    border: solid 1px #4F83BE;
    border-top: 0;
    border-right: 0;
    text-decoration: none;
    border-radius: 0 0 4px 0;
    color: #4f83be
}


/* TREE STYLE */
ul.tree {
    display: inline-block;
}

ul.tree, ul.tree ul {
    list-style-type: none;
}

ul.tree, ul.tree ul {
    list-style-type: none;
    background: url(/static/img/vline.png) repeat-y;
    margin: 0;
    padding: 0;
}

ul.tree ul {
    margin-left: 10px;
}

ul.tree > li {
    display: table;
}

ul.tree li {
    position: relative;
    margin: 0;
    padding: 0 12px;
    line-height: 20px;
    background: url(/static/img/node.png) no-repeat;
    color: #4f83be;
    font-weight: 900;
    white-space: nowrap;
    white-space: normal;
}

ul.tree .channel li {
    color: #888;
    font-weight: normal;
}

ul.tree li label {
    cursor: pointer;
}

ul.tree li.last {
    background: #FFF url(/static/img/lastnode.png) no-repeat;
}

.call-api {
    right: 0;
    text-decoration: none;
    color: #555;
    margin-left: 4px;
}

.call-api:hover{
    color: #D46A6A;
}

.call-api-main {
    display: block;
    text-decoration: none;
    margin-left: -6px;
    color: #555;
    font-size: large;
}

.call-api-main:hover {
    color: #D46A6A;
}

/* TREE COLAPSE */
li .menu_label + input[type=checkbox] {
    opacity: 0;
}

li .menu_label + input[type=checkbox] + ul > li {
    display: none;
}

li .menu_label + input[type=checkbox]:checked + ul > li
{
    display: block; /* display submenu on click */
}
/* ------------ */
.blue-border {
    border: solid 1px #4f83be;
    border-radius: 4px;
}

.light-blue-border {
    border: solid 1px #ABD4FF;
    border-radius: 4px;
}

.status {
    text-align: center;
    display: block;
    display: none;
}

.status.success {
    color: #356F13;
}

.status.error {
    color: #AA3C39;
}

#bar {
    margin-top: 22px;
    width: 100%;
    height: 30px;
    position: relative;
    border: solid 1px #4f83be;
    visibility: hidden;
}

#progress {
    text-align: center;
    vertical-align: middle;
    width: .001%;
    height: 100%;
    top: 0;
    text-align: center;
    border-radius: 4px;
    background-color: #4f83be;
    position: absolute;
    z-index: 1;
}

#progress-value {
    position: relative;
    display: block;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    padding-top: 4px;
    z-index: 10;
}

.form-upload {
    padding: 10px;
    background: #FFF;
    position: absolute;
    border: solid 1px #4f83be;
    width: 60%;
    border-radius: 6px;
    height: 60%;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    transform: scale(0);
    transition: opacity 500ms, transform 500ms;
}

.field-wrapper {
    display: inline-block;
}

.field-wrapper.first{
    width: 60%;
}

.field-wrapper.last {
    width: 30%;
}

.error {
    color: #D46A6A;
    display: block;
    font-size: 12px;
}

.form-upload input[type=text] {
    outline: none;
    border-radius: 4px;
    margin-left: 5px;
    width: 95%;
    height: 25px;
    padding: 2px;
}

.form-upload input[type=submit] {
    background-color: #4f83be;
    border-radius: 4px;
    padding: 4px;
    color: #FFF;
    border: solid 1px #4f83be;
}

.form-upload label, .form-upload legend {
    padding: 5px;
    color: #333;
}

.upload-button {
    position: absolute;
    right: 0;
    top: 2em;
    height: 50px;
    width: 150px;
    border: 0;
    border-radius: 4px;
    background-color: #4f83be;
    cursor: pointer;
    color: #FFF;
    font-weight: 600;
}

.upload-icon {
    fill: #FFF;
    width: 16px;
    vertical-align: top;
}

.overlay {
    display: none;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}

.close-button {
    position: absolute;
    padding: 10px 15px 10px 15px;
    right: -10px;
    top: -15px;
    border-radius: 50%;
    font-weight: 600;
    background: #4f83be;
    border: 0;
    color: #FFF;
    cursor: pointer;
    outline: none;
}
